include ../../blocks/components/FieldText/FieldText
include ../../blocks/components/Btn/Btn
include ../../blocks/components/Navbar/Navbar
include ../../blocks/components/Modal/Modal
include ../../blocks/components/ProgressBar/ProgressBar

include ../../blocks/modules/Header/Header
include ../../blocks/modules/CommercialOffer/CommercialOffer
include ../../blocks/modules/AboutGroup/AboutGroup
include ../../blocks/modules/Estimate/Estimate
include ../../blocks/modules/TimeConstraints/TimeConstraints
include ../../blocks/modules/Services/Services
include ../../blocks/modules/Portfolio/Portfolio
include ../../blocks/modules/Clients/Clients
include ../../blocks/modules/Contacts/Contacts

include ../../blocks/modules/EmailModal/EmailModal